# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\adit\UAS_OBP_PERPUS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
